<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<link rel="shortcut icon" href="images/favicon.ico">
		<title>오매불만</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo"><img src="images/logo_1.png" width="32px" style="vertical-align: middle; margin: 10px;"><strong>오매불만</strong></a>
						<nav>
							<a href="#menu">메뉴</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">홈 화면으로</a></li>
							<li><a href="/board/write">글 작성하기</a></li>
							<li><a href="/board">게시판으로</a></li>
						</ul>
						<ul class="actions vertical">

								<div>
										<h1>회원 시스템</h1>
										<% 
										if(sess == null){ %>
											<li><a href="/auth/register" class="button special fit">처음인가요?</a></li>
											<li><a href="/auth/login" class="button fit">회원이신가요?</a></li>
										<%} %>
										<% if(sess != null){ %>
											<%= sess %> 님 환영합니다.
											<li><a href="/auth/logout" class="button fit">로그아웃</a></li>
											<%} %>
									</div>
						</ul>
					</nav>

				<!-- Contact -->
					<section>
				        <article>
				            <center> 
				            <h1>오매불만 게시판</h1> 
				                <table>
				                    <thead>
				                        <tr>
				                            <th width="70">번호</th>
				                            <th width="120">제목</th>
				                            <th width="500">내용</th>
				                            <th width="100">작성일</th>
				                        </tr>
				                    </thead>
				                    <tbody>
                              <%
                              for(var i =0; i< length ; i++){%>
                                 </a>
				                        <tr>
                                    <td width="70"> 
                                      <a href="/board/ <%= rows[i].id %>">
                                       <%= rows[i].id %>
                                      </a>
                                    </td>
				                            <td width="120">
                                        <a href="/board/ <%= rows[i].id %>">
                                      <%= rows[i].title %>
                                        </a>
                                    </td>
				                            <td width="500">
                                        <a href="/board/ <%= rows[i].id %>">
                                      <%= rows[i].description %>
                                        </a>
                                    </td>
				                            <td width="100">
                                        <a href="/board/ <%= rows[i].id %>">
                                      <%= rows[i].date %>
                                        </a>
                                    </td>
                                </tr>
                                
                                <% } %>
				                    </tbody>
				                </table>
				            </center>
				            
				        </article>    
				    </section>


				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>보람상줘</li>
								<li>김영서</li>
								<li>김예원</li>
								<li>박수정</li>
								<li>안용욱</li>
								<li>황선우</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>